* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(img/bg-noise-texture.png);
    background-repeat: repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
}